
#ID
{
    color:#e7ddd2;
    font-size: 30px;
    background-color: #cc9764;
    text-align: right;
}
.SelectorClass
{
    background-color:#934f28;
    font-size: 30px;  
    font-style: rebrand;
    text-align: center;
}
.AbPos
{
    position:absolute;
    background-color:#d84b23;
    font-size: 40px;
    top:96px;
    left: 910px;
    
}
.RePos
{
    position: relative;
    color:#94bb3b;
    background-color:#30360f;
    font-size: 40px;
    left: 900px;
}
.FlexBox
{  margin:100px;
    width: 323px;
    height: 273px;
    display: flex;
    flex-wrap: wrap;
   
}
.BlueBox
{
    margin: 0 5px ;
    width:80px;
    height: 80px;
    background-color:#30360f
    ;
}

.BlueBoxx
{   margin: 0 5px ;
    width:80px;
    height: 160px;
    background-color:#30360f

}

ul {
   
    list-style-type: "\1F44D";
}

body
{
   background-color:#e7ddd2;
}